// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'sb_admin';
.section-content{
    column-count: 1; 
    column-gap: 1em;
}
.section-item {
    background-color: #eee; 
    margin: 0 0 1em; 
    width: 100%; 
    border: 1px solid #ddd;
}
.quiz-questions h5{
    background: #ddd;
    padding: 5px 10px;
}
.question-part{
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar #sidebarToggle::after {
    content: "\276E" !important;
}

.sidebar.toggled #sidebarToggle::after {
    content: "\276F" !important;
}

@media (min-width: 768px){
    .sidebar .nav-item .nav-link[data-toggle=collapse].collapsed::after {
        content: "\005E" !important;
        transform: rotate(90deg);
        transition: .5s;
    }
}

@media (min-width: 768px){
    .sidebar .nav-item .nav-link[data-toggle=collapse]::after {
        content: "\005E" !important;
        transform: rotate(180deg);
        transition: .5s;
    }
}